<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Buddy's Organic</title>
        <meta name="description" content="Buddy's Organic is a full spectrum hemp oil made in Colorado, USA. Human-grade and Vegan, it is rich with omegas. All Natural.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
        
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

        <!-- all css here -->
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
        <!-- animate css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/animate.css") %>">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/jquery-ui.min.css") %>">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/meanmenu.min.css") %>">
        <!-- nivo-slider css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/nivo-slider.css") %>">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/preview.css") %>">
        <!-- slick css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/slick.css") %>">
        <!-- lightbox css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/lightbox.min.css") %>">
        <!-- material-design-iconic-font css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/material-design-iconic-font.css") %>">
        <!-- All common css of theme -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/default.css") %>">
        <!-- style css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
        <!-- shortcode css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/shortcode.css") %>">
        <!-- responsive css -->
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/responsive.css") %>">
        <!-- modernizr css -->
        <script src="<%= static_path(@conn, "/js/vendor/modernizr-2.8.3.min.js") %>"></script>
    </head>
    <body>  
        <!-- WRAPPER START -->
        <div class="wrapper bg-dark-white">

            <!-- HEADER-AREA START -->
            <header id="sticky-menu" class="header header-2">
                <div class="header-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4 col-xs-7">
                                <div class="logo text-center">
                                    <a href="/"><img src="/images/logo/buddysorganic-header-logo.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MAIN-MENU START -->
                <div class="menu-toggle menu-toggle-2 hamburger hamburger--emphatic hidden-xs">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <div class="main-menu  hidden-xs">
                    <nav>
                        <ul>
                            <li><a href="about">about us</a></li>
                            <li><a href="#contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- MAIN-MENU END -->
            </header>
            <!-- HEADER-AREA END -->
            <!-- Mobile-menu start -->
            <div class="mobile-menu-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="about">about us</a></li>
                                        <li><a href="#contact">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile-menu end -->
            <%= render @view_module, @view_template, assigns %>

            <!-- MODAL: Result Message -->
            <div class="modal fade" id="result" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="modal-response-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-title">Email Subscription Message</div>
                        </div>
                        <div class="modal-body">
                            <p class="modal-result"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF MODAL: Result Message -->

            <!-- MODAL: Result Message -->
            <div class="modal fade" id="gift-result" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="modal-response-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-title">Gift Message</div>
                        </div>
                        <div class="modal-body">
                            <p class="modal-gift-result"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF MODAL: Result Message -->

            <!-- MODAL: Result Message -->
            <div class="modal fade" id="error-result" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="modal-response-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-title">Error Message</div>
                        </div>
                        <div class="modal-body">
                            <p class="modal-gift-result"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF MODAL: Result Message -->

            <!-- FOOTER START -->
            <footer>
                <!-- Footer-area start -->
                <div class="footer-area footer-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <div class="single-footer">
                                    <h3 class="footer-title  title-border">Contact Us</h3>
                                    <ul class="footer-contact">
                                        <li><span>Made with Love in:</span>Los Angeles, USA</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div id="contact" class="single-footer">
                                    <h3 class="footer-title  title-border">Email Newsletters</h3>
                                    <div class="footer-subscribe">
                                        <form method="post" class="form-ajax">
                                            <input type="hidden" name="csrf-token" id="csrf-token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
                                            <input id="contact-email" type="text" name="email" placeholder="Email Address..." />
                                            <button id="subscribe-btn-footer" class="button-one submit-btn-4" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class = "col-sm-6 col-xs-6 col-sm-offset-6">
                                <h3 class="widget-title-modal">Like us on Social!</h3>
                                <ul class="social-icons">
                                    <li><a target="_blank" title="Facebook" href="https://www.facebook.com/Buddys-Organic-1834357413531670/" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a target="_blank" title="Instagram" href="https://www.instagram.com/buddysorganic/" class="instagram social-icon"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright-area start -->
                <div class="copyright-area copyright-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="copyright">
                                    <p class="mb-0">&copy; <a href="http://buddysorganic.com" target="_blank">Buddy's Organic </a> 2018. All Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Copyright-area start -->
            </footer>
            <!-- FOOTER END -->
            <!-- QUICKVIEW PRODUCT -->
            <div id="quickview-wrapper">
               <!-- Modal -->
               <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-product">
                                    <div class="product-images">
                                        <div class="main-image images">
                                            <img alt="#" src="/images/product/quickview-photo.jpg"/>
                                        </div>
                                    </div><!-- .product-images -->
                                    <div class="product-info">
                                        <h1>Aenean eu tristique</h1>
                                        <div class="price-box-3">
                                            <hr />
                                            <div class="s-price-box">
                                                <span class="new-price">$160.00</span>
                                                <span class="old-price">$190.00</span>
                                            </div>
                                            <hr />
                                        </div>
                                        <a href="shop.html" class="see-all">See all features</a>
                                        <div class="quick-add-to-cart">
                                            <form method="post" class="cart">
                                                <div class="numbers-row">
                                                    <input type="number" id="french-hens" value="3">
                                                </div>
                                                <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                            </form>
                                        </div>
                                        <div class="quick-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
                                        </div>
                                        <div class="social-sharing">
                                            <div class="widget widget_socialsharing_widget">
                                                <h3 class="widget-title-modal">Share this product</h3>
                                                <ul class="social-icons">
                                                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="zmdi zmdi-google-plus"></i></a></li>
                                                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="zmdi zmdi-twitter"></i></a></li>
                                                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
                                                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .product-info -->
                                </div><!-- .modal-product -->
                            </div><!-- .modal-body -->
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
               </div>
               <!-- END Modal -->
            </div>
            <!-- END QUICKVIEW PRODUCT -->  
        </div>
        <!-- WRAPPER END -->

        <!-- all js here -->
        <!-- jquery latest version -->
        <script src="<%= static_path(@conn, "/js/vendor/jquery-1.12.0.min.js") %>"></script>
        <!-- bootstrap js -->
        <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
        <!-- jquery.meanmenu js -->
        <script src="<%= static_path(@conn, "/js/jquery.meanmenu.js") %>"></script>
        <!-- slick.min js -->
        <script src="<%= static_path(@conn, "/js/slick.min.js") %>"></script>
        <!-- jquery.treeview js -->
        <script src="<%= static_path(@conn, "/js/jquery.treeview.js") %>"></script>
        <!-- lightbox.min js -->
        <script src="<%= static_path(@conn, "/js/lightbox.min.js") %>"></script>
        <!-- jquery-ui js -->
        <script src="<%= static_path(@conn, "/js/jquery-ui.min.js") %>"></script>
        <!-- jquery.nivo.slider js -->
        <script src="<%= static_path(@conn, "/js/jquery.nivo.slider.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/home.js") %>"></script>
        <!-- jquery.nicescroll.min js -->
        <script src="<%= static_path(@conn, "/js/jquery.nicescroll.min.js") %>"></script>
        <!-- countdon.min js -->
        <script src="<%= static_path(@conn, "/js/countdon.min.js") %>"></script>
        <!-- wow js -->
        <script src="<%= static_path(@conn, "/js/wow.min.js") %>"></script>
        <!-- plugins js -->
        <script src="<%= static_path(@conn, "/js/plugins.js") %>"></script>
        <!-- main js -->
        <script src="<%= static_path(@conn, "/js/main.js") %>"></script>

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '192485968181635');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=192485968181635&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114911106-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-114911106-1');
        </script>


    </body>
</html>